{block content}
<a href="{link Book:list orderBy=>name, order=>asc}">Zpět</a>
<h2>{$book->name}</h2>
<div>
	<img> </img>
</div>
<div>
<table>
	<tr>
		<td>Autor</td>
		<td>{$book->author}</td>
	<tr>
	<tr>
		<td>Stran</td>
		<td>{$book->pages}</td>
	<tr>
	<tr>
		<td>Žánr</td>
		<td>{$book->author}</td>
	<tr>
	<tr>
		<td>ISBN</td>
		<td>{$book->isbn}</td>
	<tr>	
	<tr>
		<td>Autor</td>
		<td>{$book->author}</td>
	<tr>
</table>
<div>{$book->description}</div>
<div>