	#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

database:
	dsn: 'mysql:host=sql109.epizy.com;dbname=epiz.25959449_bookhero'
	user: "epiz_25959449"
	password: "eA2eFAm5DX6"

extensions:
	facebook: Kdyby\Facebook\DI\FacebookExtension


facebook:
	appId: "664082147256882"
	appSecret: "7b1594aeaf0ec1f79ed63b4e9a6062d7"
	permissions: [public_profile, email] # theese are the default read permissions, you might need to
	graphVersion: v2.3

services:
	pdo: PDO('mysql:host=sql109.epizy.com;dbname=epiz_25959449_bookhero','epiz_25959449','eA2eFAm5DX6')
	- App\Model\BooksModel 
	- App\Model\GenresModel
	- App\Model\UsersModel
	- App\Forms\FormFactory
	router: App\RouterFactory::createRouter



php:
	date.timezone: Europe/Prague




