{block content}
  <h1 n:block="title">Přihlásit se</h1>

  {control loginForm}
  <a n:href="fbLogin-open!"><img src="{$basePath.'/images/icons/fb_login.png'}" alt="Facebook login" height="40" width="170"></a> 

  <p class="marToop">Nemáte zatím svůj účet? <a href="{link User:register}">Zaregistrujte se...</a></p>