{block content}
  <h1 n:block="title">Zaregistrovat se</h1>

  {control registrationForm}

  <a n:href="fbLogin-open!"><img src="{$basePath.'/images/icons/fb_login.png'}" alt="Facebook login" height="40" width="170"></a> 

  <p class="marToop">Máte už svůj účet? <a href="{link User:login}">Přihlašte se...</a></p>